<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<title>list_students</title>
</head>
<body>
	<table>
		<tr>
			<th>first_name</th>
			<th>last_name</th>
      <th>id_number</th>
			<th>registration number</th>
			

          {% for student in students %}	
        <tr>
          <td>{{student.first_name}}</td>
          <td>{{student.last_name}}</td>
          <td>{{student.registration_number}}</td>
          <td>{{student.id_number}}</td>
          
         
      </tr>
       {% endfor %}


	</table>
  <style>
  body{
    margin:0 auto;
    background-color:white;
    padding:200px 200px 200px 200px;
    border:100px 20px 100px 20px;
    display:table;
  }
  table{
    border:1px solid #aaa;
    border-collapse: collapse;
  }

  table tr{
    border-bottom: 1px solid #333;
  }

  table tr td{
    padding: 10px;
    border-right: 1px solid #333;

  }

  th{
    border-right: 1px solid #333;
    text-align: center;
    padding: 10px;
  }
</style>

</body>
</html>